@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");
body {
  font-family: "Titillium Web";
}

ul {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Inventory-info {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}
.Inventory-info-Left {
  width: 140px;
}
.Inventory-info-Right {
  width: 140px;
}
.Inventory-info-Left-Item {
  padding-bottom: 20px;
}
.Inventory-info-Left-Item__Title {
  padding-bottom: 4px;
  font-size: 0.6875rem;
}
.Inventory-info-Left-Item__Data {
  font-size: 0.8125rem;
}
.Inventory-info-Right-Status {
  padding-bottom: 20px;
}
.Inventory-info-Right-Quantity {
  padding-bottom: 20px;
}
.Inventory-info-Right-Status__Title {
  padding-bottom: 4px;
  font-size: 0.6875rem;
}
.Inventory-info-Right-Status__Data {
  font-size: 0.8125rem;
}
.Inventory-info-Left-Item__Data__Link {
  font-size: 0.8125rem;
  color: #2E66E5;
  background: url(../assets/icons/chevron_right-24px.svg) no-repeat scroll 5rem -0.3rem;
}
.Inventory-info-Right-Status__Data__Stock {
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #158463;
  background: rgba(21, 132, 99, 0.07);
  border-radius: 20px;
  width: 5rem;
  height: 24px;
  text-align: center;
  padding-top: 5.5px;
  font-weight: 600;
  padding-right: 8px;
  padding-left: 8px;
}
.Inventory-info-Right-Status__Data__OutStock {
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #C94515;
  background: rgba(201, 69, 21, 0.07);
  border-radius: 20px;
  width: 7rem;
  height: 24px;
  text-align: center;
  padding-top: 5.5px;
  font-weight: 600;
  padding-right: 8px;
  padding-left: 8px;
}
.Inventory-Buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.Inventory-Desktop {
  display: none;
}
@media (min-width: 768px) {
  .Inventory-Mobile {
    display: none;
  }
  .Inventory-Desktop {
    display: block;
  }
  .Inventory-Desktop-rows {
    text-align: justify;
  }
  .Inventory-Desktop-rows-info-topBar {
    display: flex;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    background-color: rgba(247, 248, 249, 0.7);
    align-items: baseline;
  }
  .Inventory-Desktop-rows-info-topBar__Left {
    width: 50%;
    display: flex;
  }
  .Inventory-Desktop-rows-info-topBar__Right {
    width: 50%;
    display: flex;
  }
  .Inventory-info-InventoryBar__Right {
    display: flex;
    width: 25%;
  }
  .Inventory-info-InventoryBar__Left {
    display: flex;
    width: 50%;
  }
  .Inventory-Desktop-rows-info-topBar__Label-buttons {
    font-size: 0.75rem;
    width: 16%;
    padding-left: 1rem;
    line-height: 18px;
  }
  .Inventory-Desktop-rows-info-topBar__Label {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
  }
  .Inventory-Desktop-rows-info-topBar__Item {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
  }
  .Inventory-Desktop-rows-info-topBar__Cate {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 18px;
    display: inline-block;
  }
  .Inventory-Desktop-rows-info-topBar__Status {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
    padding-left: 2rem;
  }
  .Inventory-Desktop-rows-info-topBar__QTY {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
    padding-left: 3.5rem;
  }
  .Inventory-Desktop-rows-info-topBar__Warehousu {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
    padding-left: 2rem;
  }
  .Inventory-Desktop-rows-info-topBar__Label-buttons {
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
    padding-left: 3.5rem;
  }
  .Inventory-info-InventoryBar {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: baseline;
    padding-left: 2rem;
  }
  .Inventory-info-Left-Item__Data__Link {
    width: 22.5%;
    padding-right: 9.5rem;
  }
  .Inventory-info-Left-Item__Data {
    width: 16.5%;
    padding-right: 7rem;
  }
  .Inventory-info-Right-Status__Data__Stock {
    width: auto;
    height: 26px;
  }
  .Inventory-info-Right-Status__Data__OutStock {
    width: auto;
    height: 26px;
  }
  .Inventory-info-Right-Status__Data__QuantStock {
    padding-left: 1.9rem;
  }
  .Inventory-info-Right-Status__Data__Quant {
    padding-left: 3.7rem;
    width: 75%;
  }
  .Inventory-info-Right-Status__Data__Warehouse {
    width: 25%;
    vertical-align: middle;
  }
  .Inventory-info-Right-Status__Data__Stock {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #158463;
    background: rgba(21, 132, 99, 0.07);
    border-radius: 20px;
    width: 5rem;
    height: 26px;
    text-align: center;
    padding-top: 5.5px;
    font-weight: 600;
    padding-right: 8px;
    padding-left: 8px;
  }
  .Inventory-info-Left-Status__Data__OutStock {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #C94515;
    background: rgba(201, 69, 21, 0.07);
    border-radius: 20px;
    width: auto;
    height: 26px;
    text-align: center;
    padding-top: 5.5px;
    font-weight: 600;
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 1280px) {
  .Inventory-info-InventoryBar__Right {
    display: flex;
    width: 15%;
  }
  .Inventory-Desktop-rows-info-topBar__Cate {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 7rem;
    line-height: 18px;
    display: inline-block;
  }
  .Inventory-Desktop-rows-info-topBar__Status {
    background: url(../assets/icons/sort-24px.svg) no-repeat scroll right;
    font-size: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 7rem;
    line-height: 18px;
    display: inline-block;
  }
  .Inventory-Desktop-rows-info-topBar__Label-buttons {
    font-size: 0.75rem;
    padding-right: 1.5rem;
    line-height: 18px;
    display: inline-block;
    padding-left: 8.5rem;
  }
  .Inventory-info-Left-Item__Data__Link {
    width: 22.5%;
    padding-right: 15rem;
  }
  .Inventory-info-Left-Item__Data {
    width: 16.5%;
    padding-right: 12rem;
  }
}/*# sourceMappingURL=Items.css.map */