@use '../styles/partials/functions' as *;
@use '../styles/partials/global' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/reset' as *;
@use '../styles/partials/setup' as *;
@use '../styles/partials/variables' as *;

.Search {
    // Mobile Styles for Inventory Search 
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
    // Title
    &-Title{
        padding-bottom: 16px;
        line-height: 36px;
        font-size: $page-header;
        margin: 0;
        font-weight: 600;
    }
    // Search Bar
    &-Bar__Box{
        background: url(../assets/icons/search-24px.svg) no-repeat scroll 95% 0.3rem;
        border: 1px solid $secondary-color-two;
        border-radius: 1.25rem;
        padding-right: 16px;
        padding-left: 16px;
        height: 36px;
        width: 100%;
        font-size: $labels-links-buttons;
    }
    // Add New Item Button
    &-Button{
        background-color: $primary-color-two;
        border-radius: 1.25rem;
        padding-right: 16px;
        padding-left: 16px;
        margin-bottom: 16px;
        margin-top: 16px;
        border: none;
        height: 36px;
        width: 100%;
        color: white;
        font-size: $labels-links-buttons;
    }

    @include tablet{
        display: flex;
        align-items: center;
        padding: 32px;
        // Title
        &-Title{
            line-height: 40px;
            font-size: $responsive-page-header;
            margin: 0;
            font-weight: 600;
            padding-bottom: 0;
        }

        &-Bar{
            padding-left: 250px;
            padding-right: 16px;
        }
        // Search Bar
        &-Bar__Box{
            background: url(../assets/icons/search-24px.svg) no-repeat scroll 95% 0.3rem;
            border: 1px solid $secondary-color-two;
            border-radius: 1.25rem;
            padding-right: 16px;
            padding-left: 16px;
            height: 36px;
            width: 100%;
            font-size: $responsive-labels-links-buttons;
        }
        // Add New Item Button
        &-Button{
            background-color: $primary-color-two;
            border-radius: 20px;
            padding-right: 16px;
            padding-left: 16px;
            margin-bottom: 16px;
            margin-top: 16px;
            border: none;
            height: 38px;
            width: auto;
            color: white;
            font-size: $labels-links-buttons;
        }
    }

    @include desktop{
        &-Bar{
            padding-left: 560px;
            padding-right: 16px;
        }
        &-Bar__Box{
            background: url(../assets/icons/search-24px.svg) no-repeat scroll 95% 0.3rem;
            border: 1px solid $secondary-color-two;
            border-radius: 20px;
            padding-right: 16px;
            padding-left: 16px;
            height: 38px;
            width: auto;
            font-size: $responsive-labels-links-buttons;
        }
    }
    
}